body
{
	margin: 0px;
	padding: 0px;
	background: url("C:\xampp\htdocs\Login\images\background.jpg") no-repeat;
	background-size: cover;
}

.Registration-form
{
	width: 510px;
	padding: 20px;
	text-align: center;
	background: rgba(101,102,114,0.7);
	position: absolute;
	top: 60%;
	left: 50%;
	bottom: -80%;
	transform: translate(-50%,-50%);
	overflow: hidden;
	border-radius: 05px;
}


